#include <iostream>

using namespace std;

void bubblesort(int v[],int n)
{
    for(int i=0; i<n-1; i++)
        for(int j=0; j<n-i-1; j++)
            if(v[j]>v[j+1])
             {
                int aux;
                aux=v[j];
                v[j]=v[j+1];
                v[j+1]=aux;
             }
}

bool test_sort(int v[],int n)
{
 if (n == 0 || n == 1)
        return true;
for (int i=0; i<n-1; i++)
    if (v[i]>v[i+1])
            return false;
return true;
}

int main()
{
    int a[100000000],x;
    cin>>x;
    for(int k=0; k<x; k++)
        cin>>a[k];
    bubblesort(a,x);
    if(test_sort(a,x))
        cout<<"Sortare corecta";
    return 0;
}
