#include <iostream>

using namespace std;

int shellsort(int v[],int n)
{
  for(int i=n/2; i>0; i/=2)
    for(int j=i; i<n; j++)
     {
      int aux=v[j];
      int k;
      for(k=j; k>=i&&v[k-i]>aux; k-=i)
       v[k]=v[k-i];
      v[k]=aux;
     }
   return 0;
}

bool test_sort(int v[],int n)
{
 if (n == 0 || n == 1)
        return true;
for (int i=0; i<n-1; i++)
    if (v[i]>v[i+1])
            return false;
return true;
}

int main()
{
    int a[10000],x;
    cin>>x;
    for(int k=0; k<x; k++)
        cin>>a[k];
    shellsort(a,x);
    if(test_sort(a,x))
        cout<<"Sortare corecta";
    return 0;
}
